[submodule "pd/vendors/oss"]
	path = pd/vendors/oss
	url = https://github.com/outer-space-sounds/pd-library.git
[submodule "pd/vendors/rjlib"]
	path = pd/vendors/rjlib
	url = https://github.com/rjdj/rjlib.git
[submodule "pd/vendors/pd-bbb-gpio"]
	path = pd/vendors/pd-bbb-gpio
	url = https://github.com/rvega/pd-bbb-gpio.git
